<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBDeI90Qx64UWlLvbXYUjyX5siLsUIP3GE</string>
	<key>GCM_SENDER_ID</key>
	<string>814487374485</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fintechapp.app</string>
	<key>PROJECT_ID</key>
	<string>fintechapp-b5552</string>
	<key>STORAGE_BUCKET</key>
	<string>fintechapp-b5552.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:814487374485:ios:fbbad2abe33bae4850a99c</string>
</dict>
</plist>